*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkseagreen;
    text-align: center;
}
.h1{
    font-family: sans-serif;
    color: aquamarine;

}
.calculadora{
    text-align: center;
    position: absolute;
    margin-top: 140px;
    margin-left: 560px;
    margin-bottom: 50px;
    background-color: palegreen;
    border-radius: 15px;
    padding: 15px;
    color: black;
}
#finalizado{
    text-align: right;
    margin-left: 2px;
    background-color: mediumseagreen;
    color: black;
    width: 206px;
    height: 30px;
    font-size: 22px;
}
.botao{
   height: 50px;
   width: 50px;
   font-size: 20px;
   background-color: mediumseagreen;
   cursor: pointer;
   border-radius: 5px;
   margin: 0,10px;
   border-color: black;
}
.botao:hover{
    background-color:palegreen;
}
.zero{
   height: 50px;
   width: 600px;
   font-size: 20px;
   background-color: mediumseagreen;
   cursor: pointer;
   border-radius: 5px;
   margin: 0,10px;
   border-color: black;   
}
.zero:hover{
    background-color:palegreen;
}
#maior{
    text-align: right;
    margin-left: 2px;
    background-color: mediumseagreen;
    color: black;
    width: 206px;
    height: 60px;
    font-size: 22px;
}